.red {
  color: red;
}
.title {
  text-align: center;
}
.title-sub {
  background-color: antiquewhite;
  color: blue;
}
.food {
  margin: 20px auto;
  width: 200px;
  background: pink;
  color: black;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}
.navbar {
  background: white;
  padding: 20px;
}
.navbar a{
  margin-right: 10px;
  text-decoration: none;
}

.food-img {
  width: 100%;
  height: auto;
}
.cart-item {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  line-height: 0px;
}